<nav class="navbar navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="">Icon</div>
    <div class="">
      <a href="#" class="">My lists</a>
      <a href="#" class="">New list</a>
    </div>
  </div>
</nav>
